// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #FF7900;
$light-orange: #FFE9D6;
$orange: #FF7900;
$yellow: #FFDA3E;
$light-green: #B1FBE6;
$green: #09BC8A;
$dark-green: #0AA374;
$dark-gray: #393939;
$gray: #7B7F83;
$light-gray: #F4F4F4;
