// Specific CSS for your home-page
.landing-page {
  object-fit: cover;
  height: 100vh;
  flex-direction: row;
  background-image: url("pathroll.jpg");
  background-size: cover; /* Set the background size to cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $dark-gray;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: $orange;
  font-size: 36px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: $dark-gray;
}

/* THESE are for the share button!*/
.share-options {
  position: relative;
}

.options-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show-options {
  display: flex; /* Use flex to align icons horizontally */
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* THESE are for the share button!*/
