<div type="button" id="button-<%= incident.id %>" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom-<%= incident.id %>" aria-controls="offcanvasBottom">
  <%= image_tag "icon.png", height: 50, alt: "marker", style: "position: relative; bottom: 25px;" %>
</div>
