
<div id='map' style='width: 100%; height: 100vh;'
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div data-controller="open-incidents">
  <% @incidents.each do |incident| %>
  <%= render "incident", incident: incident %>
  <% end %>
</div>

<div class="incidents-count">
  <h3>Incidents Today Around You</h3>
  <p><%= @today_incidents.length %> incidents occurred today within 10km of Le Wagon(Your location)</p>
</div>


