<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-EXAMPLE_HASH" crossorigin="anonymous" />

<nav class="navbar fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-nav flex-grow-1">
      <div class="d-flex justify-content-around">
        <%= link_to incidents_path, class: 'nav-link' do %>
          <i class="fa-solid fa-house" style="color: #7B7F83;"></i>
        <% end %>
        <%= link_to new_incident_path, class: 'nav-link' do %>
          <%= image_tag("cone.png", class: "cone")%>
        <% end %>
        <%= link_to dashboard_path, class: 'nav-link' do %>
          <i class="fas fa-user" style="color: #7B7F83;"></i>
      </div>
    </div>
  </div>
</nav>
