<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-EXAMPLE_HASH" crossorigin="anonymous" />

<nav class="navbar fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-nav flex-grow-1">
      <div class="d-flex justify-content-around">
      <a class="nav-link" href="#"><i class="fa-solid fa-house" style="color: #7b7f83;"></i></a>
      <a class="nav-link" href="#"><%= image_tag("cone.png", class: "cone")%></a>
      <a class="nav-link" href="#"><i class="fas fa-user" style="color: #7b7f83;"></i></a>
      </div>
    </div>
  </div>
</nav>
