<div
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasBottom-
  <%= incident.id %>"
  aria-controls="offcanvasBottom">
  <%= image_tag "icon.png", height: 50, alt: "marker", style: "vertical-align: bottom;" %>
</div>
