<div class="landing-page px-4 py-5">
  <div class="d-flex flex-column py-5">
    <h1 class="fw-bold">Path & Roll</h1>
    <h2 class="pb-2">Move safely around your neighborhood!</h2>
    <ul class="pb-2">
      <li class="pb-2">Check any incident in your area</li>
      <li>Report new incidents to help others</li>
    </ul>
    <br>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary btn-lg text-light px-5 rounded-4">Get started</button>
    </div>
</div>
