.navbar {
  justify-content: space-between;
  background: white;
  position: fixed;
  z-index: 9999;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.cone {
  height: 16px;
  transform: translateY(-2px);
}

.active {
  /* Add your styles for active state, e.g., color: orange; */
  color: orange;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: $orange;
  border-radius: 50%;
}

.dot {
  content: '';
  position: absolute;
  transform: translateX(-10%);
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: $orange;
  border-radius: 50%;
}
