.navbar {
  background: white;
  position: fixed;
  z-index: 9999;
  padding: 0px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.cone {
  height: 40px;
}

.active {
  color: orange;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: $orange;
  border-radius: 50%;
}

.icons {
  transform: translateY(8px);
}
